@import "vars";
@import "libs";
@import "fonts";
@import "global";

/* header */

.header {
    background-image: url(/img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 683px;
    position: relative;
}
.header-wrapper {
    max-width: 1180px;
    margin: 0 auto;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.header-nav__list {
    display: flex;
    .header-nav__list-link{
        margin-right: 16px;
        font-size: 12px;
        line-height: 15px;
        &:hover {
            padding-bottom: 5px;
            border-bottom: 3px solid #009FFF;
            border-radius: 0.5px;
        }
    }
    
}
.header-login__btn-login {
    margin-right: 8px;
    padding: 8px 32px;
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    border: 1px solid #fff;
    border-radius: 16px;
    cursor: pointer;
}
.title-slider__item-btn ,
.header-login__btn-sing {
    padding: 8px 32px;
    background: linear-gradient(90deg, #009FFF 0%, #4C49C4 100%);
    color: #fff;
    border-radius: 16px;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
.header-login__language {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    padding: 5px 9px;
    margin-left: 8px;
}

.title-slider__item {
    margin-top: 130px;
    position: relative;
    max-width: 302px;
    .title-slider__item-text {
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
    }
    .title-slider__item-btn {
        padding: 17px 63px;
        background: linear-gradient(90deg, #009FFF 0%, #4C49C4 100%);
        color: #fff;
        border-radius: 16px;
        border: none;
        font-weight: 500;
        cursor: pointer;
    }
   
}
.title-slider__item-img{
    position: absolute;
    bottom: 75px;
    left: 22px;
}
.slick-dots {
    font-size: 0px;
    position: absolute;
    right: -110px;
    top: 180px;
    button{
        border: 0.5px solid #FFFFFF;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: transparent;
        margin-top: 16px;
        outline-style: none;
    }
}
.slick-active {
    button {
        background: #009FFF;
        border: none;
        &::before{
            content: '';
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: transparent;
            border: 1px solid  #009FFF;
            
        }
    }
    
}


/* WHY US */

.wrapper {
    max-width: 1160px;
    margin: 0 auto;
}
.whyUs {
    text-align: center;
    .whyUs-content {
    max-width: 700px;
    margin: 0 auto;
        .whyUs-text {
            font-weight: 300;
            font-size: 16px;
            line-height: 27px;
        }
        .whyUs-title {
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            color: #FFFFFF;
        }
    }
} 
.whyUs-advantages {
    display: flex;
    flex-wrap: wrap;
    .whyUs-advantages__item {
        max-width: 210px;
        margin-top: 75px;
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
    .whyUs-advantages__item:nth-child(5),
    .whyUs-advantages__item:nth-child(4),
    .whyUs-advantages__item:nth-child(2),
    .whyUs-advantages__item:nth-child(1) {
        margin-right: 250px;
    }
}

@import "media";


